<section class="cover text-center">
  <div id="overlay"></div>
  <div class="nav-container">
    <div class="nav-row">
      <div class="nav-logo">
        <a href="#">
          
          <img src="../../../../assets/images/codedifferently-logo-transparent.png" class="nav-logo-image" alt="CodeDifferently">
        </a>
      </div>
      <div class="nav-controls">
        <a *ngFor="let item of navItems" href="{{item.link}}">{{ item.title }}</a>
      </div>
    </div>
  </div>

  <div class="cover-container pb-5">
    <div class="cover-inner container">

      <h1 class="jumbotron-heading"> <strong>Code Differently</strong></h1>
      <p class="lead">Introduce and elevate our Youth</p>
    </div>
  </div>
 
</section>

