<section class="cover text-center">
  <div id="overlay"></div>
  <div class="nav-container">
    <div class="nav-row">
      <div class="nav-logo">
        <a href="#">
          CodeDifferently
        </a>
      </div>
      <div class="nav-controls">
        <a *ngFor="let item of navItems" href="{{item.link}}">{{ item.title }}</a>
      </div>
    </div>
  </div>

  <div class="cover-container pb-5">
    <div class="cover-inner container">

      <h1 class="jumbotron-heading"> <strong>Code Differently</strong></h1>
      <p class="lead">Introduce and elevate our Youth</p>
    </div>
  </div>
  <!-- Remove Script when find the right plugin to manipulate DOM -->
 
</section>

<script> 
    $(document).ready(function() {
   
   $(window).scroll(function() {
     console.log('its live here');
       var height = $('.cover').height();
       var scrollTop = $(window).scrollTop();
   
       if (scrollTop >= height - 40) {
           $('.nav-container').addClass('solid-nav');
       } else {
           $('.nav-container').removeClass('solid-nav');
       }
   
   });
   });
    </script>