<h1> What People Say About Us</h1>
<div class="container">
  <input type="radio" name="nav" id="first" checked/>
  <input type="radio" name="nav" id="second" />
  <input type="radio" name="nav" id="third" />
  
  <label for="first" class="first"></label>
<label for="second"  class="second"></label>
<label for="third" class="third"></label>
 
  <div class="one slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> Code Differently promptly complets the task at hand and communicates really well to the youth. I was pleased with the results of their classes and will definitely be looking forward to seeing what they do next! <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://www.capitalfm.co.ke/thesauce/files/2019/05/man-in-suit-professionals.jpg" width="170" height="130" />
    <h2>Some Guy at Some Place</h2>
    <h6>Millionaire</h6>
  </div>
  
  <div class="two slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span> They are really teach the <strong>Right</strong> things to our next generation! Truly inspired by this team <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://media.gettyimages.com/photos/man-in-his-20s-with-a-perfect-smile-picture-id541271596?b=1&k=6&m=541271596&s=612x612&w=0&h=JcdfN2JCkZbHigTB40KJM5dUZ9_-fMCzS2gOmNmokEw=" width="170" height="130" />
    <h2>John Doe</h2>
    <h6>Technical Director at some Big Place</h6>
  </div>
  
  <div class="three slide">
    <blockquote>
      <span class="quotes leftq"> &ldquo;</span> Ill be bringing all my kids to learn from them from now on . <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="https://st.depositphotos.com/1905901/1876/i/450/depositphotos_18765427-stock-photo-african-american-male.jpg" width="170" height="130" />
    <h2>Mark Something</h2>
    <h6>CEO of Some Company</h6>
  </div>
  
  
</div>