<div id="content">
  <div>
    <div id="services" class="container-fluid text-center">

      <div class="row">
          <div class="column" style="background-color:white; color: #818285">
              <h2>Preview</h2>
              <br>
              <p>Designed for grades K–5
                  focused on building the foundation of
                  core concepts and critical thinking</p>
          </div>
        <div class="column" style="background-color:#ff8400;">
          <h2>Pipeline</h2>
          <br>
          <p>Designed for grades 6–12 with
            a focus on engaging students through
            hands-on technology projects</p>
        </div>
        <div class="column" style="background-color:white; color: #818285">
          <h2>Platform</h2>
          <br>
          <p>Designed for HBCU students
            with a focus on under-representation in
            the technology industry</p>
        </div>
        <div class="column" style="background-color:#ff8400;">
          <h2>Professional</h2>
          <br>
          <p>Designed for up-skilling entry
            and mid-level experienced professionals</p>
        </div>
      <div class="container" style="height: 1000px;width: 100%;">
        <div class="mission-container container-fluid">
          <div class="card" style="width:400px">
            <div class="card-body">
              <h2 class="card-title">Our Mission and Philosophy</h2>
              <hr>
              <p class="card-text">It is our mission to create an ecosystem of technology
                focused resources through creative programming and
                partnerships aimed at building an inclusive pipeline of
                technology talent that is positioned for the current and
                future workforce needs.</p>
              <a href="https://form.jotform.com/92583807486168" class="btn btn-dark">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

      <home-gallery></home-gallery>
      <!-- <home-testimonials></home-testimonials> -->
      <!-- <div class="container contact-box">
      <contact-box></contact-box>
      <ngx-paypal></ngx-paypal>
      </div> -->
    </div>
  </div>