<div id="content">
  <div>
    <div id="services" class="container-fluid text-center">
      <h4>What makes us <strong>Different</strong></h4>
      <br>
      <div class="row slideanim">
        <div class="col-sm-3">
          <span class="fas fa-sliders-h logo-small"></span>
          <h4>Bridging Gaps</h4>
          <p>Code Differently aims to bridge the tech access gap by
             equipping youth with the technical and cognitive skills</p>
        </div>
        <div class="col-sm-3">
          <span class="logo-small"></span>
          <h4>Community engagement</h4>
          <p>Community engagement is one of our core principles. 
            Deploying our coding camps in “pop-up” locations allows us to engage with communities that need it the most.</p>
        </div>
        <div class="col-sm-3">
          <span class="logo-small"></span>
          <h4>Cognitive Immersion</h4>
          <p>Code Differently packages it’s unique teaching methods to be delivered from K-12,
            Collegiate, all the way to the Work Force</p>
        </div>
      </div>
      <div class="container" style="height: 1000px;width: 104%;">
        <div class="mission-container container-fluid">
          <div class="card" style="width:400px">
            <div class="card-body">
              <h2 class="card-title">Our Mission and Philosophy</h2>
              <hr>
              <p class="card-text">Code Differently aims to bridge the tech access gap by equipping the community with the technical and cognitive skills they’ll need to excel in
                  technology-driven classrooms and workplaces. Through hands-on instruction and collaborative projects,
                  Code Differently’s courses and events are designed to challenge,
                  entertain and empower a community of learners while preparing them for an ever-evolving business landscape.</p>
              <a href="/enroll" class="btn btn-dark">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

      <home-gallery></home-gallery>
      <home-testimonials></home-testimonials>

    </div>
  </div>