<div id="content">
  <div>
    <div id="services" class="container-fluid text-center">

        <div class="row">
            <div class="column" style="background-color:#ff8400;">
              <h2>Pipeline</h2>
              <br>
              <p>Some text..</p>
            </div>
            <div class="column" style="background-color:rgb(71, 70, 66,0.9);">
              <h2>Platform</h2>
              <br>
              <p>Some text..</p>
            </div>
            <div class="column" style="background-color:#ff8400;">
              <h2>Professional</h2>
              <br>
              <p>Some more text</p>
            </div>
          </div>
      <div class="container" style="height: 1000px;width: 104%;">
        <div class="mission-container container-fluid">
          <div class="card" style="width:400px">
            <div class="card-body">
              <h2 class="card-title">Our Mission and Philosophy</h2>
              <hr>
              <p class="card-text">Code Differently aims to bridge the tech access gap by equipping the community with the technical and cognitive skills they’ll need to excel in
                  technology-driven classrooms and workplaces. Through hands-on instruction and collaborative projects,
                  Code Differently’s courses and events are designed to challenge,
                  entertain and empower a community of learners while preparing them for an ever-evolving business landscape.</p>
              <a href="/enroll" class="btn btn-dark">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>

      <home-gallery></home-gallery>
      <!-- <home-testimonials></home-testimonials> -->
      <div class="container contact-box">
      <contact-box></contact-box>
      <ngx-paypal></ngx-paypal>
      </div>
    </div>
  </div>