/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Audiowide|Teko|Ubuntu:500i|Yanone+Kaffeesatz&display=swap");
html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Fjalla One';
}
p {
    font-family: 'Yanone Kaffeesatz';
}
