<div class="container gallery-container">
        <div class="tz-gallery">
    
            <div class="row">
    
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="../../../../../assets/images/home-page-gallery/IMG_0275.JPG">
                        <img src="../../../../../assets/images/home-page-gallery/IMG_0275.JPG" alt="Speaking leon">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../../../../../assets/images/home-page-gallery/IMG_0353.JPG">
                        <img src="../../../../../assets/images/home-page-gallery/IMG_0353.JPG" alt="Team-w-County">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../../../../../assets/images/home-page-gallery/IMG_0913.JPG">
                        <img src="../../../../../assets/images/home-page-gallery/IMG_0913.JPG" alt="">
                    </a>
                </div>
                <div class="col-sm-12 col-md-8">
                    <a class="lightbox" href="../../../../../assets/images/home-page-gallery/FullSizeRender-39.jpeg">
                        <img src="../../../../../assets/images/home-page-gallery/FullSizeRender-39.jpeg" alt="">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="../../../../../assets/images/home-page-gallery/IMG_5962.JPG">
                        <img src="../../../../../assets/images/home-page-gallery/IMG_5962.JPG" alt="SYEP">
                    </a>
                </div>
    
            </div>
    
        </div>
    
    </div>