<div class="row align-items-center mb-5">
    <div class="col-lg-6 order-2 order-lg-1"><i class="mb-3 text-primary"></i>
      <p class="font-italic text-muted mb-4">Community engagement is one of our core principles. Deploying our coding
        camps in “pop-up”
        locations allows us to engage with our students and their families in the communities where they live, work
        and play.
        With technology changing the way we do nearly every job, from manual labor to banking to healthcare to law
        enforcement,
        Code Differently exists to bolster a culture of learning that is vital now and will be essential in the
        future.</p>
    </div>
    <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../../../../assets/images/Hands-up.jpg" alt=""
        class="img-fluid mb-4 mb-lg-0"></div>
  </div>
     
     <h1 class="brand"><span>Code Differently</span></h1>
    
      <div class="wrapper">
    
        <!-- COMPANY INFORMATION -->
        <div class="company-info">
          <h3>Code Differently</h3>
    
          <ul>
            <li><i class="fa fa-road"></i>920 Justison St.</li>
            <li><i class="fa fa-phone"></i> (555) 555-5555</li>
            <li><i class="fa fa-envelope"></i> someone@codedifferently.com</li>
          </ul>
        </div>
        <!-- End .company-info -->
    
        <!-- CONTACT FORM -->
        <div class="contact">
          <h3>E-mail Us</h3>
    
          <form id="contact-form">
    
            <p>
              <label>Name</label>
              <input type="text" name="name" id="name" required>
            </p>
            <p>
              <label>Program interest</label>
              <input type="radio"  name="program-interest"><span>Professional</span>
              <input type="radio" name="program-interest"><span>Platform</span>
              <input type="radio" name="program-interest"><span>Pipeline</span>


            </p>
            <p>
              <label>E-mail Address</label>
              <input type="email" name="email" id="email" required>
            </p>
    
            <p>
              <label>Phone Number</label>
              <input type="text" name="phone" id="phone">
            </p>
    
            <p class="full">
              <label>Brief message</label>
              <textarea name="message" rows="5" id="message"></textarea>
            </p>
    
            <p class="full">
              <button type="submit">Submit</button>
            </p>
    
          </form>
          <!-- End #contact-form -->
        </div>
        <!-- End .contact -->
    
      </div>
      <!-- End .wrapper -->