<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="mb-3 text-primary"></i>
                <p class="font-italic text-muted mb-4">We know this community; this is our community.
                    We are invested in this work; this is our work. Code Differently is not a venture by
                    a capitalist looking to add to a portfolio; it is the natural continuation of the purpose
                    and passion of two accomplished professionals in the tech field who call Delaware home.
                    We are committed to reversing the statistics that say minorities don’t enter into tech
                    fields or that kids are not interested in learning coding; our work and experience with
                    Code Differently has already proven those assertions wrong and the limiting reactant is exposure.
                    Our experience and numerous studies have shown that exposing kids to tech and coding increases their
                    interest in the field; our life’s’ work is to ensure that when today’s generation enters the
                    workforce,
                    their peers standing right beside them ready to blaze the trails. We look forward to working with
                    you!</p>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../../../../assets/images/Hands-up.jpg"
                    alt="" class="img-fluid mb-4 mb-lg-0"></div>
        </div>
        <div class="bg-light five-phase-container">
            <div class="overlay"></div>
            <div class="container py-5">
                <div class="row h-100 align-items-center py-5">
                    <div class="col-lg-6">
                        <h1 class="display-4">Our Five-Phase Approach</h1>
                        <p class="lead text-muted mb-0">Attract • Expose • Engage • Excel • Empower</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img
                    src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6"><i class=" mb-3 text-primary"></i>
                <!-- <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2> -->
                <p class="font-italic text-muted mb-4">Something to get the user to pay for our classes</p><a
                    href="/enroll" class="btn btn-light px-5 rounded-pill shadow-sm">Enroll Now</a>
            </div>
        </div>
    </div>
</div>