<section class="cover text-center">
  <div class="nav-container">
    <div class="nav-row">
      <div class="nav-logo">
        <a href="#">
          Transparent to Solid Nav Row
        </a>
      </div>
      <div class="nav-controls" *ngFor="let item of navItems">
        <a routerlink="item.link">{{ item.title }}</a>
      </div>
    </div>
  </div>

  <div class="cover-container pb-5">
    <div class="cover-inner container">
      <h1 class="jumbotron-heading"> <strong>Code Differently</strong></h1>
      <p class="lead">Introduce and elevate our Youth</p>
    </div>
  </div>
</section>