<div class="body">
  <div class="row">
    <div class="col-md-8">
      <div class="row" class="about-us">
        <div class="bg-light">
          <div class="container py-2">
            <div class="row h-100 align-items-center py-4">
              <div class="col-md-5 d-none d-lg-block"><img src="../../../../../assets/images/leon-teaching.JPG"
                  height="350px" width="350px" alt="" class="img-fluid">
              </div>
              <div class="col-sm-6">
                <h1 class="display-4">About us</h1>
                <p class="lead text-muted mb-0">Founded in July 2018, Code Differently is an experiential learning
                  coding program designed to introduce and elevate information technology to youth through hands-on practical
                  instruction. Code Differently was created by local entrepreneurs with a collective passion to bridge the gap
                  between education and local market needs by equipping communities with the skills needed to excel in the 21st
                  century.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row" class="our-mission">
        <div class="bg-light">
          <div class="container py-2">
            <div class="row h-100 align-items-center py-4">
              <div class="col-sm-6">
                <h1 class="display-4">Our Mission</h1>
                <p class="lead text-muted mb-0">It is our mission to create an ecosystem of technology
                  focused resources through creative programming and
                  partnerships aimed at building an inclusive pipeline of
                  technology talent that is positioned for the current and
                  future workforce needs.</p>
              </div>
              <div class="col-lg-5 d-none d-lg-block"><img src="../../../../../assets/images/leon-teaching.JPG"
                height="350px" width="350px" alt="" class="img-fluid">
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" class="coding-diff">
        <div class="bg-light">
          <div class="container py-2">
            <div class="row h-100 align-items-center py-4">
              <div class="col-lg-5 d-none d-lg-block"><img src="../../../../../assets/images/Hands-up.jpg" alt=""
                  height="350px" width="350px" class="img-fluid mb-4 mb-lg-0">
              </div>
              <div class="col-lg-5">
                <h1 class="display-4">Coding Differently</h1>
                <p class="lead text-muted mb-0">Community engagement is one of our core principles. Deploying our coding
                  camps in “pop-up” locations allows us to engage with our students and their families in the
                  communities where they live, work and play. With technology changing the way we do nearly every job, from manual labor to banking
                  to healthcare to law enforcement,Code Differently exists to bolster a culture of learning that is vital now and will be
                  essential in the future.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="row" class="strg-pillars">
        <div class="bg-light">
          <div class="container py-2">
            <div class="row h-100 align-items-center py-4">
              
              <div class="col-lg-5">
                <h1 class="display-4">Strategic Pillars</h1>
                <p class="lead text-muted mb-0">Our coding programs are designed to support innovative employment
                  opportunities by introducing and elevating technology through practical hands-on instruction for K-12,
                  higher education and experienced professionals.</p>
                <ul class="pillar-list">
                  <li>
                    <span id="pillars">Attract</span> participants via innovative initiatives that spark interest
                  </li>
                  <li>
                    Provide <span id="pillars"> exposure </span> to the amazing world of tech and coding
                  </li>
                  <li>
                    Promote <span id="pillars"> engagement </span> to foster a deeper learning of principles and
                    concepts
                  </li>
                  <li>
                    Provide opportunities for participants to <span id="pillars"> excel </span> by developing real
                    technology solutions
                  </li>
                  <li>
                    <span id="pillars"> Empower </span> participants to inspire their peers and younger counterparts to
                    explore tech related courses and fields
                  </li>
                </ul>
           </div>
           <div class="col-lg-5 d-none d-lg-block"><img src="../../../../../assets/images/leon-teaching.JPG"
            height="350px" width="350px" alt="" class="img-fluid">
        </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="fastfacts">
        <h2 class="facts-header"> Fast Facts </h2>
        <br>
        <br>
        <ul>
          <li class="facts"> Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis. </li>
          <br>
          <li class="facts">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis.</li>
          <br>
          <li class="facts">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis.</li>
          <br>
          <li class="facts">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis.</li>
          <br>
          <li class="facts">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis.</li>
          <br>
          <li class="facts">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Dolor morbi non arcu risus quis.</li>
        </ul>
      </div>
    </div>
  </div>

  <!---- <div class="row align-items-center">
          <div class="col-lg-5 px-5 mx-auto"><img
              src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
              class="img-fluid mb-4 mb-lg-0"></div>
          <div class="col-lg-6"><i class=" mb-3 text-primary"></i>
            <h2 class="font-weight-light">Lorem ipsum dolor sit amet</h2> -->
  <!-- <p class="font-italic text-muted mb-4">Something to get the user to pay for our classes</p><a href="/enroll"
              class="btn btn-light px-5 rounded-pill shadow-sm">Enroll Now</a>
          </div>
        </div>
      </div>
    </div> -->


  <!-- ---------------------------------- MEET THE TEAM --------------------------------- -->
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Meet The Team</h2>
      </div>
    </div>

    <div class="row" class="founders">
      <div class="bg-light">
        <div class="container py-1">
          <div class="row h-100 align-items-center py-4">
            <div class="our-team">
              <div class="team-img">
                <div class="col-sm-3 d-none d-lg-block" class="vector"><img
                    src="../../../../../assets/images/stock-vector-male-user-account-profile-circle-flat-vector-icon-for-apps-and-websites-467503055.jpg"
                    height="300px" width="300px">
                </div>
                <div class="social">
                  <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-content">
                  <h3 class="title">Co-Founder</h3>
                  <span class="post"> Stephanie Eldridge</span>
                </div>
            </div>
            <div class="col-sm-5">
              <p class="lead text-muted mb-0" class="lildiddy">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut pharetra sit amet aliquam. Eu volutpat odio facilisis mauris sit amet massa vitae.
                Sit amet mattis vulputate enim nulla aliquet porttitor lacus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row" class="founders">
      <div class="bg-light">
        <div class="container py-1">
          <div class="row h-100 align-items-center py-4">
            <div class="our-team">
              <div class="team-img">
                <div class="col-sm-3 d-none d-lg-block" class="vector"><img
                    src="../../../../../assets/images/stock-vector-male-user-account-profile-circle-flat-vector-icon-for-apps-and-websites-467503055.jpg"
                    height="300px" width="300px">
                </div>
                <div class="social">
                  <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-content">
                <h3 class="title">Co-Founder</h3>
                <span class="post"> Tariq Hook</span>
              </div>
            </div>
            <div class="col-sm-5">
              <p class="lead text-muted mb-0" class="lildiddy">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut pharetra sit amet aliquam. Eu volutpat odio facilisis mauris sit amet massa vitae.
                Sit amet mattis vulputate enim nulla aliquet porttitor lacus. </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light py-5">
      <div class="row text-center">
        <ng-container *ngFor="let member of teamMembers">
          <div class="col-md-4">
            <div class="our-team">
              <div class="team-img">
                <img
                  src="../../../../../assets/images/stock-vector-male-user-account-profile-circle-flat-vector-icon-for-apps-and-websites-467503055.jpg">
                <div class="social">
                  <ul>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                    <li><a href="#" class="fa fa-skype"></a></li>
                  </ul>
                </div>
              </div>
              <div class="team-content">
                <h3 class="title">{{ member.name }}</h3>
                <span class="post">{{ member.title }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>